pipeline/FirstPipeline.json
{
	"name": "FirstPipeline",
	"properties": {
		"activities": [
			{
				"name": "Healthy_Wealthy_Happy_Lucky",
				"description": "Thank you Universe :)",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "LoadAllFIles",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Healthy_Wealthy_Happy_Lucky",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_csv_060426",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FilterOnlyCSV",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LoadAllFIles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LoadAllFIles').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'CSV')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-04-03T12:44:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}