pipeline/IncrementalLoad0904.json
{
	"name": "IncrementalLoad0904",
	"properties": {
		"activities": [
			{
				"name": "LookupLastInsertDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select LatestDate from LastUpdatedDate",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_SQL_lastdate_090426",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "GetTotalCount",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "LookupLastInsertDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_sql_060426",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "select count(*) as TotalCount from dbo.Employee_Stage\nwhere JoinDate > '@{activity('LookupLastInsertDate').output.value[0].LatestDate}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "If New Rows",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetTotalCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('GetTotalCount').output.resultSets[0].rows[0].TotalCount,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data from source to target",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "SELECT EmployeeID,FirstName,LastName,Department,Salary,JoinDate,[Current_Date] FROM Employee_Stage\nwhere JoinDate > '@{activity('LookupLastInsertDate').output.value[0].LatestDate}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "EmployeeID",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "EmployeeID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "FirstName",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "FirstName",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "LastName",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "LastName",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Department",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Department",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Salary",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Salary",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "JoinDate",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "JoinDate",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Current_Date",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Current_Date",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_stage_sql_090426",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sql_mainTable_070426",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "UpdateLastLoadDate",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data from source to target",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "select 'Employee' as 'TableName',max(JoinDate) as 'LatestDate' from employee",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sql_mainTable_070426",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_SQL_lastdate_090426",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}